@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f3f2f2;
    --foreground: #201e1d;
    --card: #eae9e9;
    --card-foreground: #201e1d;
    --popover: #eae9e9;
    --popover-foreground: #201e1d;
    --surface: #eae9e9;
    --input-bg: #eae9e9;
    --primary: #ec3013;
    --primary-foreground: #f3f2f2;
    --secondary: #eae9e9;
    --secondary-foreground: #201e1d;
    --muted: #eae9e9;
    --muted-foreground: #7f7d7d;
    --accent: #eae9e9;
    --accent-foreground: #201e1d;
    --destructive: #ae1800;
    --destructive-foreground: #f3f2f2;
    --border: #9f9d9d;
    --divider: #9f9d9d;
    --input: #9f9d9d;
    --ring: #ec3013;
    --radius: 0px;

    --neutral-100: #f8f4f4;
    --neutral-200: #eae7e7;
    --neutral-300: #d7d3d3;
    --neutral-400: #bab6b6;
    --neutral-500: #9b9797;
    --neutral-600: #7d7979;
    --neutral-700: #605d5d;
    --neutral-800: #444141;
    --neutral-900: #2d2b2b;

    --accent-100: #fff2ef;
    --accent-200: #ffe0d9;
    --accent-300: #ffc4b8;
    --accent-400: #ff9783;
    --accent-500: #ff563c;
    --accent-600: #dd2b0f;
    --accent-700: #ae1800;
    --accent-800: #7c1405;
    --accent-900: #4d170e;
  }

  .dark:root {
    --background: #1b1918;
    --foreground: #f3f2f2;
    --card: #262322;
    --card-foreground: #f3f2f2;
    --popover: #262322;
    --popover-foreground: #f3f2f2;
    --surface: #262322;
    --input-bg: #2f2c2b;
    --primary: #ff6b52;
    --primary-foreground: #1b1918;
    --secondary: #2f2c2b;
    --secondary-foreground: #f3f2f2;
    --muted: #2f2c2b;
    --muted-foreground: #929090;
    --accent: #2f2c2b;
    --accent-foreground: #f3f2f2;
    --destructive: #ff6b52;
    --destructive-foreground: #1b1918;
    --border: #575655;
    --divider: #575655;
    --input: #575655;
    --ring: #ff6b52;
    --radius: 0px;
  }
}
